.connected::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    float: left;
    margin: 0 -20px 0 0;
    font-family: 'fontawesome';
    content: "\f1eb";
    transform: translate(-30px, 0px);
}

.waiting::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    float: left;
    margin: 0 -20px 0 0;
    font-family: 'fontawesome';
    content: "\f084";
    transform: rotate(180deg) translate(27px, -7px) scaleX(-1);
}

.reconnecting::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    float: left;
    margin: 0 -20px 0 0;
    font-family: 'fontawesome';
    content: "\f0e7";
    transform: translate(-22px, 0px);
}

.players {
    margin: 10px 10px 10px 50px;
    color: white;
}

.winner::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    float: left;
    margin: 0 -20px 0 0;
    font-family: 'fontawesome';
    content: "\f091";
    transform: translate(-30px, 0px);
}