$grey: #333;
$orange: #ff5f00;
$lightgrey: lighten($grey, 20);
$darkgrey: darken($grey, 20);

/* Remove defaults */

* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}

#openbtn {
    right: 5px;
    top: 5px;
}


/* Side panel styling */

.openbtn {
    position: absolute;
    font-size: 20px;
    cursor: pointer;
    background-color: $lightgrey;
    color: white;
    padding: 10px 15px;
    border: none;
    &:hover {
        background-color: $orange;
        color: darken($color: $grey, $amount: 10);
    }
    &:focus {
        outline: none;
    }
}

.sidepanel {
    /* 0 width - change this with JavaScript */
    height: 100vh;
    width: 0;
    /* sizing */
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: $grey;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    a,
    input,
    p {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 20px;
        color: white;
        display: block;
        transition: 0.3s;
    }
    a:hover {
        color: $orange;
    }
    .closebtn {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 36px;
    }
}

.section {
    border: 2px solid $orange;
    border-radius: 8px;
    position: relative;
    padding: 10px;
    margin: 10px;
    .title {
        font-size: 24px;
        color: $orange;
        padding: 0 5px;
        position: absolute;
        top: -13px;
        left: 8px;
        display: inline-block;
        background-color: $grey;
    }
    #addbtn {
        width: 90%;
        margin: 0 5%;
    }
    hr {
        margin: 10px 0;
        border: 1px dashed $lightgrey;
    }
}

.btn {
    border-radius: 8px;
    color: $orange;
    background-color: $lightgrey;
    transition: 0.35s;
    font-size: 20px;
    padding: 5px;
    font-weight: bolder;
    &:hover {
        background-color: $orange;
        color: darken($color: $grey, $amount: 10);
    }
    &:focus {
        outline: none;
    }
}

.prop {
    margin: 10px;
    color: white;
    .item {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        label {
            width: 40%;
        }
        input {
            font-size: 15px;
            margin-top: 2px;
            color: $orange;
            padding: 5px 10px;
            width: 40%;
            background-color: $lightgrey;
        }
    }
    .item+.item {
        margin-top: 10px;
    }
    .delete {
        border-radius: 30px;
        margin: 10px 0 0 calc(100% - 35px);
        width: 30px;
        height: 30px;
        font-size: 25px;
        position: relative;
        &::before {
            content: "\00d7";
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}


/* Main body styling */

.wrapper {
    background-color: darken($color: $grey, $amount: 20);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.canvas {
    width: 100%;
    height: 100%;
}